<!-- Panel Group -->
<accordion close-others="oneAtATime">
  <accordion-group is-open="true">
    <accordion-heading><span class="em-primary">Who</span> We Are</accordion-heading>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eveniet, ex, exercitationem explicabo fugit id illum inventore ipsa ipsam iure magni omnis, perferendis perspiciatis quidem saepe sequi soluta voluptatibus? Quam?
  </accordion-group>

  <accordion-group>
    <accordion-heading><span class="em-primary">What</span> We Do</accordion-heading>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt excepturi laudantium nemo nisi odit rerum similique sunt, temporibus. Autem exercitationem mollitia, nobis placeat rem velit! Alias doloremque id iusto maiores.
  </accordion-group>

  <accordion-group>
    <accordion-heading><span class="em-primary">Why</span> Choose Us?</accordion-heading>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam blanditiis, consectetur deleniti eligendi et facilis iusto libero nam natus placeat porro tenetur! Itaque nulla perferendis quasi suscipit temporibus? Illum?
  </accordion-group>
</accordion>
